@inherits LayoutComponentBase

<AuthorizeView>
    <NotAuthorized>
        <RedirectToLogin/>
    </NotAuthorized>
    <Authorized>
        <BootstrapBlazorRoot>
            <Layout AdditionalAssemblies="[typeof(MainLayout).Assembly]" Menus="SideMenuItems" SideWidth="160px"
                    style="height: 100dvh">
                <Header>
                    <div>
                        <span class="fw-semibold">
                            Temasek Operatorr
                        </span>
                    </div>
                </Header>
                <Side>
                </Side>
                <Main>
                    @Body
                </Main>
            </Layout>
        </BootstrapBlazorRoot>
    </Authorized>
</AuthorizeView>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {

    public readonly List<MenuItem> SideMenuItems =
    [
        new()
        {
            Text = "Home",
            Url = "/",
            IsActive = true
        }
    ];

}