@using Temasek.Operatorr.Services
@inherits LayoutComponentBase
@inject ThemeService Theme

<AuthorizeView>
  <NotAuthorized>
    <RedirectToLogin/>
  </NotAuthorized>
  <Authorized>
    <BootstrapBlazorRoot>
      <div class="page">
        <MainLayoutHeader UserName="@context.User.Identity?.Name"/>
      </div>
    </BootstrapBlazorRoot>
  </Authorized>
</AuthorizeView>

<div id="blazor-error-ui" data-nosnippet>
  An unhandled error has occurred.
  <a href="." class="reload">Reload</a>
  <span class="dismiss">🗙</span>
</div>
