@page "/"
@using SqlSugar
@using Temasek.Operatorr.Entities

@inject ISqlSugarClient SqlClient

<PageTitle>Dashboard</PageTitle>

<div class="row">
    <div class="col">
        <Card>
            <HeaderTemplate>
                DC
            </HeaderTemplate>
            <BodyTemplate>
                @Dc?.UserId
                <br/>
                Since @Dc?.Start
            </BodyTemplate>
        </Card>
    </div>
    
    <div class="col">
        <Card>
            <HeaderTemplate>
                CDOS
            </HeaderTemplate>
            <BodyTemplate>
                @Cdos?.UserId
                <br/>
                Since @Cdos?.Start
            </BodyTemplate>
        </Card>
    </div>

    <div class="col">
        <Card>
            <HeaderTemplate>
                CDOO
            </HeaderTemplate>
            <BodyTemplate>
                @Cdoo?.UserId
                <br/>
                Since @Cdoo?.Start
            </BodyTemplate>
        </Card>
    </div>
</div>

@code {

    public ClerkShiftRecord? Dc { get; set; }
    public OfficerShiftRecord? Cdoo { get; set; }
    public SpecShiftRecord? Cdos { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Dc = await SqlClient.Queryable<ClerkShiftRecord>().OrderByDescending(c => c.Start).FirstAsync();
        Cdoo = await SqlClient.Queryable<OfficerShiftRecord>().OrderByDescending(c => c.Start).FirstAsync();
        Cdos = await SqlClient.Queryable<SpecShiftRecord>().OrderByDescending(c => c.Start).FirstAsync();
    }

}