@page "/auth"

@using System.Text.Json
@using System.Text.Json.Serialization
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@rendermode InteractiveAuto

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!

    <summary class="rz-mt-3">
        <span>Debug info</span>
        <details>
            <pre>
                @JsonSerializer.Serialize(context.User, new JsonSerializerOptions { WriteIndented = true, ReferenceHandler = ReferenceHandler.Preserve })
            </pre>
        </details>
    </summary>
</AuthorizeView>
