@using Dm.util
@inject NavigationManager Navigation

<RadzenCard Variant="Variant.Flat">
    <RadzenStack Gap="1rem" Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween">
        <RadzenStack Gap="1rem">
            <RadzenText TextStyle="TextStyle.Caption">@Title</RadzenText>
            <RadzenText TextStyle="TextStyle.DisplayH4">
                @UserId
            </RadzenText>
            @if (!string.IsNullOrWhiteSpace(Phone))
            {
                <RadzenText TextStyle="TextStyle.Subtitle1">
                    @Phone
                </RadzenText>
            }
        </RadzenStack>
        <RadzenStack JustifyContent="JustifyContent.End">
            <a class="rz-button rz-button-md rz-variant-flat rz-success rz-shade-default" target="_blank" href="@($"https://wa.me/65{Phone.replace(" ", "")}")">
                WhatsApp
            </a>
        </RadzenStack>
    </RadzenStack>
</RadzenCard>

@code {
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? UserId { get; set; }
    [Parameter] public string? Phone { get; set; }
}